* {

    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgb(121, 8, 8);
    --secondary-color: rgb(230, 167, 167);
}


.image {
    background-image: linear-gradient(rgba(24, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url('../images/background.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.para {
    padding: 150px;
}

.header {
    font-size: 10rem;
}

.b1 {
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--secondary-color);
}



/* responsiveness  */

  @media only screen and (max-width: 639px) and (min-width:551px) {
    .cover{
        position: relative;
        left:10rem;
    }
  }
  @media only screen and (max-width: 550px) and (min-width:451px) {
    .cover{
        position: relative;
        left:7rem;
    }
  }
  @media only screen and (max-width: 450px) and (min-width:351px) {
    .cover{
        position: relative;
        left:4rem;
    }
  }

/*  */